script(id='cuboid-style-template' type='text/x-handlebars-template')
  style(type='text/css', id='style{{id}}').
    {{css_id}} {
      width: {{width}}{{unit}};
      height: {{depth}}{{unit}};
      position: absolute;
      transform-style: preserve-3d;
    }
    
    {{css_id}} figure {
        margin: 0;
        display: block;
        position: absolute;
    }
      
    {{css_id}} .front,
    {{css_id}} .back {
      width: {{width}}{{unit}};
      height: {{height}}{{unit}};
      top: {{top_bottom_top}}{{unit}};
      background-color: blue;
    }
    
    {{css_id}} .right,
    {{css_id}} .left {
      width: {{height}}{{unit}};
      height: {{depth}}{{unit}};
      left: {{right_left_left}}{{unit}};
      background-color: red;
    }
    
    {{css_id}} .top,
    {{css_id}} .bottom {
      width: {{width}}{{unit}};
      height: {{depth}}{{unit}};
      background-color: green;
    }
    
    {{css_id}} .front  { transform: rotateX( -90deg ) translateZ( {{translate_z_front_back}}{{unit}} ); }
    {{css_id}} .back   { transform: rotateX(  90deg ) translateZ( {{translate_z_front_back}}{{unit}} ); }
    {{css_id}} .right  { transform: rotateY(  90deg ) translateZ( {{translate_z_right_left}}{{unit}} ); }
    {{css_id}} .left   { transform: rotateY( -90deg ) translateZ( {{translate_z_right_left}}{{unit}} ); }
    {{css_id}} .top    { transform: rotateY(   0deg ) translateZ( {{translate_z_top_bottom}}{{unit}} ); }
    {{css_id}} .bottom { transform: rotateX( 180deg ) translateZ( {{translate_z_top_bottom}}{{unit}} ); }

    {{css_id}}.rotate { transform: translateZ( {{translate_z}}{{unit}} ) rotateY(  -40deg ) rotateX(  -40deg ); }
    
    {{css_id}} { transform: translateZ( {{translate_z}}{{unit}} ); }
