doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title QuadZap - quad the trouble
    link(rel='stylesheet', href='stylesheets/application.css')
  body

    script(src='javascripts/jquery-2.1.4.min.js')
    script(src='javascripts/application.js')
    script(src='//localhost:35729/livereload.js') //- to use Livereload
