html, body {
  height: 100vh;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #03A9F4;
  perspective: 200vh; }

.field {
  display: none;
  position: relative;
  background: #B2EBF2; }

.field .border {
  position: absolute;
  background: #0097A7; }

.field .player {
  background: #727272; }

.scene {
  width: 75vh;
  height: 75vh;
  transform-style: preserve-3d;
  background: rgba(178, 235, 242, 0.5);
  transform: rotateY(-20deg) rotateX(50deg); }

@media only screen and (orientation: portrait) {
  .field {
    width: 75vw;
    height: 75vw; }
  .field .player {
    width: calc(75vw * 0.08);
    height: calc(75vw * 0.08); }
  .field .border.top,
  .field .border.bottom {
    width: 78vw;
    height: 1.5vw;
    left: -1.5vw; }
  .field .border.top {
    top: -1.5vw; }
  .field .border.bottom {
    bottom: -1.5vw; }
  .field .border.left,
  .field .border.right {
    width: 1.5vw;
    height: 78vw;
    top: -1.5vw; }
  .field .border.left {
    left: -1.5vw; }
  .field .border.right {
    right: -1.5vw; } }

@media only screen and (orientation: landscape) {
  .field {
    width: 75vh;
    height: 75vh; }
  .field .player {
    width: calc(75vh * 0.08);
    height: calc(75vh * 0.08); }
  .field .border.top,
  .field .border.bottom {
    width: 78vh;
    height: 1.5vh;
    left: -1.5vh; }
  .field .border.top {
    top: -1.5vh; }
  .field .border.bottom {
    bottom: -1.5vh; }
  .field .border.left,
  .field .border.right {
    width: 1.5vh;
    height: 78vh;
    top: -1.5vh; }
  .field .border.left {
    left: -1.5vh; }
  .field .border.right {
    right: -1.5vh; } }
