.container3d {
  width: 400px;
  height: 500px;
  position: relative;
  perspective: 1000px; }

.cuboid {
  width: 400px;
  height: 500px;
  position: absolute;
  transform-style: preserve-3d; }

.cuboid figure {
  margin: 0;
  display: block;
  position: absolute; }

.cuboid .front,
.cuboid .back {
  width: 400px;
  height: 500px;
  background-color: green; }

.cuboid .right,
.cuboid .left {
  width: 300px;
  height: 500px;
  left: 50px;
  background-color: red; }

.cuboid .top,
.cuboid .bottom {
  width: 400px;
  height: 300px;
  top: 100px;
  background-color: blue; }

.cuboid .front {
  transform: rotateY(0deg) translateZ(150px); }

.cuboid .back {
  transform: rotateX(180deg) translateZ(150px); }

.cuboid .right {
  transform: rotateY(90deg) translateZ(200px); }

.cuboid .left {
  transform: rotateY(-90deg) translateZ(200px); }

.cuboid .top {
  transform: rotateX(90deg) translateZ(250px); }

.cuboid .bottom {
  transform: rotateX(-90deg) translateZ(250px); }

.cuboid.show-front {
  transform: translateZ(-50px) rotateY(0deg); }

.cuboid.show-back {
  transform: translateZ(-50px) rotateX(-180deg); }

.cuboid.show-right {
  transform: translateZ(-150px) rotateY(-40deg) rotateX(-40deg); }

.cuboid.show-left {
  transform: translateZ(-150px) rotateY(90deg); }

.cuboid.show-top {
  transform: translateZ(-100px) rotateX(-90deg); }

.cuboid.show-bottom {
  transform: translateZ(-100px) rotateX(90deg); }

.cuboid {
  transform: translateZ(-100px); }

.cuboid {
  transition: transform 0.1s; }

.field {
  display: none; }

html, body {
  height: 100vh;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #03A9F4; }

.field {
  position: relative;
  background: #B2EBF2; }

.field .border {
  position: absolute;
  background: #0097A7; }

.field .player {
  background: #727272; }

@media only screen and (orientation: portrait) {
  .field {
    width: 75vw;
    height: 75vw; }
  .field .player {
    width: calc(75vw * 0.08);
    height: calc(75vw * 0.08); }
  .field .border.top,
  .field .border.bottom {
    width: 78vw;
    height: 1.5vw;
    left: -1.5vw; }
  .field .border.top {
    top: -1.5vw; }
  .field .border.bottom {
    bottom: -1.5vw; }
  .field .border.left,
  .field .border.right {
    width: 1.5vw;
    height: 78vw;
    top: -1.5vw; }
  .field .border.left {
    left: -1.5vw; }
  .field .border.right {
    right: -1.5vw; } }

@media only screen and (orientation: landscape) {
  .field {
    width: 75vh;
    height: 75vh; }
  .field .player {
    width: calc(75vh * 0.08);
    height: calc(75vh * 0.08); }
  .field .border.top,
  .field .border.bottom {
    width: 78vh;
    height: 1.5vh;
    left: -1.5vh; }
  .field .border.top {
    top: -1.5vh; }
  .field .border.bottom {
    bottom: -1.5vh; }
  .field .border.left,
  .field .border.right {
    width: 1.5vh;
    height: 78vh;
    top: -1.5vh; }
  .field .border.left {
    left: -1.5vh; }
  .field .border.right {
    right: -1.5vh; } }
