@mixin border-width-placement($unit) {
  .field .border.top,
  .field .border.bottom {
    width: #{100 * $field-size + 100 * $field-border-width * 2 + $unit};
    height: #{100 * $field-border-width + $unit};
    left: #{-100 * $field-border-width + $unit};
  }
  .field .border.top {
    top: #{-100 * $field-border-width + $unit};
  }
  .field .border.bottom {
    bottom: #{-100 * $field-border-width + $unit};
  }
  .field .border.left,
  .field .border.right {
    width: #{100 * $field-border-width + $unit};
    height: #{100 * $field-size + 100 * $field-border-width * 2 + $unit};
    top: #{-100 * $field-border-width + $unit};
  }
  .field .border.left {
    left: #{-100 * $field-border-width + $unit};
  }
  .field .border.right {
    right: #{-100 * $field-border-width + $unit};
  }
}

@mixin field-player-size($unit) {
  $fs: #{100 * $field-size + $unit};
  $ps: calc(#{$fs} * #{$player-size});
  .field {
    width: $fs;
    height: $fs;
  }
  .field .player {
    width: $ps;
    height: $ps;
  }
}
