@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import "mixins";

$background-color: #03A9F4;

$field-size: 0.75; // 75%; Max percentage of width/height viewport
$field-color: #B2EBF2;
$field-border-color: #0097A7;
$field-border-width: 0.015; // 5%; Max percentage of width/height viewport

$player-size: 0.08 ; // 8%; Percentage of field size
$player-color: #727272;

$container-width: 75vh;
$container-height: 75vh;

html, body {
  height: 100vh;
  margin:0;
  padding:0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  perspective: 200vh;
  overflow: hidden;
}
.scene {
  width: $container-width;
  height: $container-height;
  transform-style: preserve-3d;
  background: rgba(178, 235, 242, 0.5);
}
.splash {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splash h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 90pt;
  color: #212121;
  opacity: 0;
  text-shadow:  0 1px 0 #B2EBF2,
                0 2px 0 #B2EBF2,
                0 3px 0 #B2EBF2,
                0 4px 0 #B2EBF2,
                0 5px 0 #B2EBF2,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}
.splash button {
  font-size: 18pt;
  width: 130pt;
  height: 35pt;
  font-weight: 200;
  display: none;
  position: absolute;
  left: calc(50vw - 65pt);
}
.splash .overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
