@import "mixins";

$background-color: #03A9F4;

$field-size: 0.75; // 75%; Max percentage of width/height viewport
$field-color: #B2EBF2;
$field-border-color: #0097A7;
$field-border-width: 0.015; // 5%; Max percentage of width/height viewport

$player-size: 0.08 ; // 8%; Percentage of field size
$player-color: #727272;

$container-width: 75vh;
$container-height: 75vh;

html, body {
  height: 100vh;
  margin:0;
  padding:0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $background-color;
  perspective: 200vh;
}

.field {
  display: none;
  position: relative;
  background: $field-color;
}
.field .border {
  position: absolute;
  background: $field-border-color;
}
.field .player {
  background: $player-color;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $container-width;
  height: $container-height;
  transform-style: preserve-3d;
  background: rgba(178, 235, 242, 0.5);
  transform: rotateY(-20deg) rotateX(79deg);
}

@media only screen and (orientation: portrait) {
  @include field-player-size('vw');
  @include border-width-placement("vw");
}
@media only screen and (orientation: landscape) {
  @include field-player-size('vh');
  @include border-width-placement("vh");
}
